{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<script>
  function showLatestMessage(event) {
    const data = new FormData(event.target);
    const newMessage = data.get('new_message');

    const fragment = `
<div class="chat chat-end">
  <div class="chat-header">
      You
    <!--<time class="text-xs opacity-50">2 hours ago</time>-->
  </div>
  <div class="chat-bubble text-gray-700 bg-green-200">
    ${newMessage}
  </div>
  <!--<div class="chat-footer opacity-50">Seen</div>-->
</div>`;

    const elem = document.getElementById('conversation');
    elem.insertAdjacentHTML('beforeend', fragment)
  }
</script>
<div class="mx-auto max-w-screen-xl px-4 py-1 sm:px-6 sm:py-2 lg:px-8">
  <div class="rounded-md bg-gray-100 max-w-3xl p-5 mx-auto">
    <div id="conversation" class="min-h-96 flex flex-col justify-end">
      <div class="h-96 flex items-center justify-center">
        <div class="text-center max-w-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline w-20 h-20 text-gray-300">
            <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
            <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
          </svg>
          <div class="text-gray-500 text-md mt-4">
            {% blocktrans %}{{ mp_name }} MP (AI) is ready! Ask anything to start conversation{% endblocktrans %}
          </div>
        </div>
      </div>
    </div>
    <div id="typing-indicator" class="htmx-indicator flex align-center gap-x-1 my-2">
      <div>
        <span class="loading loading-dots loading-sm"></span>
      </div>
      <div>
        {% blocktrans %}{{ name }} is typing...{% endblocktrans %}
      </div>
    </div>
  </div>

  <form
    class="max-w-3xl mx-auto"
    hx-post="/chat-with/{{ mp_name }}/message"
    hx-target="#conversation"
    hx-include="#conversation > input"
    hx-indicator="#typing-indicator"
    onsubmit="showLatestMessage(event)"
    method="POST"
  >
    {% csrf_token %}

    <div class="mt-2">
      <label class="input input-bordered flex items-center px-0">
        <input
          type="text"
          class="grow px-4"
          id="new_message"
          name="new_message"
          placeholder="{% trans 'E.g. Please tell us about the policies you worked on during your term.' %}"
        />
        <button class="block pr-4" type="submit" class="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path d="M3.105 2.288a.75.75 0 0 0-.826.95l1.414 4.926A1.5 1.5 0 0 0 5.135 9.25h6.115a.75.75 0 0 1 0 1.5H5.135a1.5 1.5 0 0 0-1.442 1.086l-1.414 4.926a.75.75 0 0 0 .826.95 28.897 28.897 0 0 0 15.293-7.155.75.75 0 0 0 0-1.114A28.897 28.897 0 0 0 3.105 2.288Z" />
          </svg>          
        </button>
      </label>
    </div>
  </form>

  <div class="max-w-3xl mx-auto text-yellow-500 flex my-2 rounded-md text-xs">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
    <span>{%blocktrans%}You are not talking to an actual human; it is an AI model trained with past speeches by {{ mp_name }} MP. We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with {{ mp_name }}, or any of its subsidiaries or its affiliates{% endblocktrans %}</span>
  </div>
</div>

<style>
.htmx-indicator{
  display: none;
}
.htmx-request .htmx-indicator{
  display: flex;
}
.htmx-request.htmx-indicator{
  display: flex;
}
</style>
{% endblock %}
