{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
<div class="mx-auto max-w-screen-lg px-4 py-1 sm:px-6 sm:py-2 lg:px-8">

  <div class="mb-8">
    {% blocktrans %}
    <em>Chat with MP</em> is a hobby project exploring the potential of large
    language models to raise political awareness. It allows people to engage
    with virtual representations of members of parliament, created using
    publicly available open data. {% endblocktrans %}
    <a href="/about" class="text-sm text-lime-500 hover:text-lime-600">{% trans 'Learn more' %}</a>
  </div>

  <h2 class="text-xl font-bold text-gray-900 sm:text-2xl py-2">{% trans 'Recent MPs' %}</h2>
  <div>
    {% for mp in recent %}
      <div class="gap-y-4">
        <a href="/chat-with/{{ mp | urlencode }}" class="py-1 flex items-center gap-x-2 hover:bg-gray-100 rounded-lg">
          <div class="avatar">
            <div class="rounded-full w-10 h-10">
              <img src="https://ui-avatars.com/api/?name={{ mp | urlencode }}">
            </div>
          </div>
          <div>{{ mp }}</div>
        </a>
      </div>
    {% endfor %}
  </div>
  <h2 class="text-xl font-bold text-gray-900 sm:text-2xl py-2">{% trans 'Find MP' %}</h2>
  <div>
    <label class="input input-bordered flex items-center gap-2">
      <input
        type="text"
        class="grow"
        name="mp_name"
        placeholder="{% trans 'Type part of the name of MP...' %}"
        hx-get="/search-mp"
        hx-trigger="keyup delay:500ms changed"
        hx-target="#result"
        hx-indicator="#indicator"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
  </div>

  <div class="htmx-indicator my-2" id="indicator">
    <span class="loading loading-spinner loading-md"></span>
  </div>

  <div id="result" class=""></div>
</div>

<style>
  .htmx-indicator{
    display: none;
  }
  .htmx-request .htmx-indicator{
    display: flex;
  }
  .htmx-request.htmx-indicator{
    display: flex;
  }
</style>
{% endblock content %}
